*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(223, 231, 236);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Todo{
  width: 90%;
  min-height: 100vh;
  background-color: rgb(196, 214, 214);
  border-radius: 2%;
  padding: 10px;
}
.Item{
  height: auto;
  width: auto;
  margin: 5px;
  padding: 5px;
  border: 2px solid white;
  text-align: center;
  border-radius: 5%;

}
.todohead{
   font-size: 4vh;
   color: black;
   width: auto;
}
.tododetails{
  font-size: 3vh;
  color: black;
  width: auto;
}
.form-title{
  text-align: center;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-field{
  width: 60%;
  height:5vh;
  margin: 5px;
  border-radius: 5%;
}
.input-field::placeholder{
  height: 20px;
}
.btn{
  height: 6vh;
  min-width: 6vh;
  margin: 10px;
  padding: 5px;
}